.add-picture__close {
    padding: 0;
    position: absolute;
    top: -38px;
    right: -38px;
    display: flex;
    justify-content: center;
    background: transparent;
    background-image: url(/image/Close_Icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    width: 32px;
    height: 32px;
}

.add-picture__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 548px) {
    .add-picture__close {
        background-image: url(/image/Close_Icon_for_320px.svg);
        flex-shrink: 0;
        right: 0;
        width: 20px;
        height: 20px;
    }
}