.profile__edit {
    background: transparent;
    background-image: url(../../../image/Vector_pen.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: solid 1px white;
    width: 24px;
    height: 24px;
}

.profile__edit:hover {
    opacity: 0.8;
}

@media screen and (max-width: 320px) {
    .profile__edit {
        width: 18px;
        height: 18px;
    }
}