.popup__save {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    margin: 48px 36px 37px 36px;
    width: 358px;
    height: 50px;
    border-radius: 2px;
    background: #000;
    color: white;
    border: none;
    cursor: pointer;
}


.popup__save:hover {
    opacity: 0.8;
}