.profile__subtitle {
    margin: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 350px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 651px) {
    .profile__subtitle {
        max-width: 250px;
    }
  }

@media screen and (max-width: 320px) {
    .profile__subtitle {
        font-size: 14px;
    }
}