.card__image {
    width: 100%; /* Используйте относительную ширину */
    height: auto; /* Автоматическая высота, чтобы сохранить пропорции изображения */
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}