.card__delete {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    background: transparent;
    background-image: url(../../../image/trash.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    width: 18px;
    height: 19px;
}