.page__container {
    margin: 0 auto;
    max-width: 880px;
    min-width: 320px;
    width: 100%;
}

@media screen and (max-width: 876px) {
    .page__container {
        max-width: 700px;
    }
  }